@font-face {
  font-family: 'Cooper Black';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/CooperBlack.otf');
}

:root {
  --gradient: linear-gradient(90deg, #ff6a00 0%, #ee0979 100%);
  --light: #fff;
  --grey: #f8f9fa;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Capriola', sans-serif !important;
  scroll-behavior: smooth;
}
.main-bgcolor {
  background-image: var(--gradient);
}
.light-color {
  color: var(--light) !important;
}
.grey-bgcolor {
  background: var(--grey);
}
.company_brand {
  font-family: 'Cooper Black', sans-serif !important;
  font-size: 2.0rem !important;
  font-weight: 500;
}

.section {
  padding: 50px 0;
}

.section-body {
  padding: 20px 0;
}
